.translationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.translationResult {
  margin-top: 20px;
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  width: 80%;
  max-width: 800px;
}
